QWidget#UIBasePlatformFrame{
    border:1px solid red;
    background:linear-gradient(#fff,#e5eecc 99px);
    /*box-shadow: 2px 2px 3px #d4d4d4;*/

}
QTableWidget#tabWidget_2 {
    border: 1px solid gray;
    color:black;
}
/*QToolButton#tbtnMain1{
    border:1px solid #003322;

}*/


/*QTreeWidget#treeWidget {
   background-color: #292F38;
    /*rgba(52,73,94,255)*/
    /*border: 2px solid #029FEA;*/
   /* border: 2px solid #1D2025;
    color: white;*/
    /*font-size: 18px;*/
}*/

/*QWidget#UIBasePlatformFrame {
    background-color: #34495e;
    border: 10px solid red;
}*/
/*QWidget#winfo {
    background-color: #292F38;
    border: 2px solid #1D2025;
    color: white;
    /*font-size: 18px;*/
}*/
QTableWidget#tableWidget {
    border: 1px solid gray;
}
QLabel#label_13 {
    font-size: 18px;
}

QWidget#widget_else {
    background-color: #292F38;
    border: 3px solid #1D2025;
}
QWidget#capture {
    background-color: #292F38;
    border: 3px solid #1D2025;
}
QWidget#camera {
    background-color: #292F38;
    border: 3px solid #1D2025;
}

/*QHeaderView::section {*/
/*border:2px groove gray;
border-radius:10px;*/
/*padding:2px 4px;*/
/*color: black;
    background-color: rgba(52,73,94,220);
    border: 1px solid gray;
    border-left: none;*/
/*border-top:none;
    
    border-right:none;*/
/*padding-top:3px;*/
/*font-size: 16px;
    text-align: center;
    height: 30px;
    color: #909399;
}*/
/*QTableWidget::item {
    font: 14px "΢���ź�";
    color: #677483;
    border: none;
}*/
QLabel#lname {
    /*color: #33495e;*/
    font-size: 15px
}
QLabel#lsex {
    /*color: #33495e;*/
    font-size: 15px
}

/*    QLabel#lb1 {
        color: #33495e;
        font-size: 22px;
    }

    QLabel#lb2 {
        color: #33495e;
        font-size: 22px;
    }

QLineEdit {
    border: 2px solid #bdc3c7;
    min-height: 25px;
    border-radius: 6px;
}
*/
