/*图片在上面,文字再下面 */
/* 计划任务接收 */
QPushButton[flag='jhrwjs'].trayButton
{
    background-image: url(:/image/js.png);
    background-origin: content;
    background-position: top;
    padding-top: 5px;
    background-repeat: no-repeat;

    text-align: bottom;
    padding-bottom:5px;
    font-size: 14px;
    color: black;
    border-style: outset;
}
/* 物资清点同步 */
QPushButton[flag='wzqdtb'].trayButton
{
    background-image: url(:/image/wzqdtb.png);
    background-origin: content;
    background-position: top;
    padding-top: 5px;
    background-repeat: no-repeat;

    text-align: bottom;
    padding-bottom:5px;
    font-size: 14px;
    color: black;
}


